.header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 3em auto;
    padding-top: 3em;
    width: 85vw;
    @media screen and (max-width: $screen-phone) {
        margin: 0 auto 1.5em auto;
        padding-top: 1.5em;
        width: 90vw;
    }
    &__logo img{
        height: 70px;
        width: 100%;
        @media screen and (max-width: $screen-phone) {
            height: 44px;
        }
    }
    &__nav ul{
        display: flex;
        color: #FF6060;
        font-size: 24px;
        font-weight: 500;
        @media screen and (max-width: $screen-phone) {
            font-size: 12px;
            text-transform: uppercase;
        }
        li:first-child{
            margin-right: 3em;
            @media screen and (max-width: $screen-phone) {
                margin-right: 1.5em;
            }
        }
        li a.active{
            text-decoration: underline;
        }
    }
}