.dropdown {
    &__button {
        background: $primary;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        padding: 0.5em 1em 0.5em 1em;
        &__title {
            font-size: inherit;
        }
        &__icon {
            &--expanded {
                transform: rotate(180deg);
            }
        }
    }
    &__content {
        background: $lightdarkbackground;
        border-radius: 5px;
        color: $primary;
        font-weight: 400;
        padding: 1em;
    }
}

@media screen and (max-width: $screen-phone) {
    .dropdown {
        &__button {
            &__icon {
                width: 14px;
            }
        }
    }
}