.dropdown {
    &__button {
        background: $primary;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        padding: 0.4em 2em 0.4em 1em;
        &__title {
            font-size: inherit;
        }
        &--expanded {
            img {
                transform: rotate(180deg);
            }
        }
    }
    &__content {
        background: $grey;
        border-radius: 5px;
        color: $primary;
        font-weight: 400;
        padding: 1em;
    }
}