.home {
  &__houses {
    background-color: #F6F6F6;
    border-radius: 1.5em;
    margin: 3em auto 5em auto;
    padding: 3em;
    width: 85vw;
    &__list {
      display: grid;
      gap: 3em;
      grid-template-columns: repeat(3, 1fr);
      @media screen and (max-width: $screen-tablet) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@media screen and (max-width: $screen-phone) {
  .home {
    &__houses {
      margin: 1.5em auto 3em auto;
      background: unset;
      padding: 0;
      width: 90vw;
      &__list {
        gap: 1.5em;
        grid-template-columns: repeat(1, 1fr);  
      }
    }
  }
}