.home {
  margin: 0 auto;
  width: 85vw;
  &__houses {
    background-color: #F6F6F6;
    border-radius: 1.5em;
    margin: 3em 0;
    padding: 3em;
    width: 100%;
    &__list {
      display: grid;
      gap: 3em;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}