.housing {
  margin: auto;
  &__content {
    color: $primary;
    margin: auto;
    width: 85vw;
    &__heading {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin: 2em auto 1em auto;
      .housing-details {
        &__subtitle {
          margin-top: 0.5em;
        }
        &__tags {
          display: flex;
          flex-wrap: wrap;
        }
      }
      .housing-informations {
        &__host {
          align-items: center;
          display: flex;
          justify-content: flex-end;
          @media screen and (max-width: $screen-phone) {
            order: 2;
          }
          img {
            border-radius: 5em;
            margin-left: 0.5em;
            order: 2;
            width: 64px;
          }
          h5{
            text-align: right;
            width: 90px;
          }
        }
      }
    }
    &__description {
      display: grid;
      font-size: 1.2em;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2em;
      justify-content: space-between;
      margin: 1em auto;
    }
  }
}

@media screen and (max-width: $screen-phone) {
  .housing {
    &__content {
      width: 90vw;
      &__heading {
        align-items: flex-start;
        flex-direction: column;
        margin: 1em auto 1em auto;
        .housing-informations {
          align-items: center;
          display: flex;
          justify-content: space-between;
          margin: 1em auto 0 auto;
          width: 100%;
          &__host {
            order: 2;
            img {
              width: 32px;
            }
          }
          &__stars {
            order: 1;
          }
        }
      }
      &__description {
        font-size: 12px;
        grid-gap: 1.5em;
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}