.housing {
  margin: auto;
  &__content {
    color: $primary;
    margin: auto;
    width: 85vw;
    @media screen and (max-width: $screen-phone) {
      width: 90vw;
    }
    &__heading {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin: 2em auto 1em auto;
      @media screen and (max-width: $screen-phone) {
        align-items: flex-start;
        flex-direction: column;
      }
      .housing-details {
        &__subtitle {
          @media screen and (max-width: $screen-phone) {
            margin-top: 0.5em;
          }
        }
        &__tags {
          display: flex;
          flex-wrap: wrap;
        }
      }
      .housing-informations {
        @media screen and (max-width: $screen-phone) {
          align-items: center;
          display: flex;
          justify-content: space-between;
          margin: 1em auto;
          width: 100%;
          @media screen and (max-width: $screen-phone) {
            margin: 0.5em;
          }
        }
        &__host {
          align-items: center;
          display: flex;
          justify-content: flex-end;
          @media screen and (max-width: $screen-phone) {
            order: 2;
          }
          img {
            border-radius: 5em;
            margin-left: 1em;
            order: 2;
            width: 64px;
          }
          h4{
            text-align: right;
            width: 90px;
          }
        }
        &__stars {
          @media screen and (max-width: $screen-phone) {
            order: 1;
          }
        }
      }
    }
    &__description {
      display: grid;
      font-size: 1.2em;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2em;
      justify-content: space-between;
      margin: 1em auto;
      @media screen and (max-width: $screen-phone) {
        font-size: 12px;
    }
    }
  }
}