.card {
    background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
    border-radius: 1em;
    overflow: hidden;
}
.card a {
    position: relative;
}
.card a h2 {
    bottom: 1em;
    color: white;
    font-size: 18px;
    left: 1em;
    position: absolute;
    width: 90px;
    z-index: 1;
}
.card a img {
    opacity: 0.8;
    vertical-align: bottom;
    height: 340px;
    width: 100%;
}