* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  display: flex;
  justify-content: center;
}

h1 {
  font-weight: 500;
  font-size: 48px;
}

ul {
  list-style-type: none;
}

a{
  color: inherit;
  text-decoration: unset;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
