.banner {
    border-radius: 1.5em;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
}
.banner img {
    filter: brightness(0.6);
    width: 100%;
}
.banner h1 {
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}