* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    padding-bottom: 15em;
    position: relative;
    @media screen and (max-width: $screen-phone) {
        padding-bottom: 10em;
    }
}

button {
    background: unset;
    border: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}
  
a {
    color: inherit;
    text-decoration: unset;
}