* {
    font-family: "Montserrat", sans-serif;
}
  
h2 {
    color: $primary;
    font-weight: 500;
    font-size: 36px;
}

h3 {
    font-size: 24px;
    font-weight: 400;
}

h4 {
    font-size: 18px;
    font-weight: 500;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}