* {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-weight: 500;
    font-size: 48px;
}
  
h2 {
    font-weight: 500;
    font-size: 48px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}